     <!-- filtros -->
     <div class="tab-pane fade list text-left" id="list" role="tabpanel">
       <!-- uno -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="product-details.html" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="01"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="02" class="second_image img-responsive"/>											
                    </a>
                    <ul class="countdown countdown4 text-center">
                      <li><span class="days">00</span><p class="days_text">Days</p></li>
                      <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                      <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                      <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                    </ul>
                                                                </div>
                <div class="thumb-description col-xs-12 col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">aliquam quaerat voluptatem</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>											</div>
                    </div>
                    
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus arcu turpis, quis sagittis orci dictum non. Etiam id eleifend erat. Donec sit amet nisl id nisi laoreet viverra in ac nibh.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="color-option d-flex align-items-center float-left w-100">
                <ul class="color-categories">
                    <li>
                        <a class="tt-pink" href="#" title="Pink"></a>                                            </li>
                    <li>
                        <a class="tt-blue" href="#" title="Blue"></a>                                            </li>
                    <li>
                        <a class="tt-yellow" href="#" title="Yellow"></a>                                            </li>
                </ul>
            </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal" disabled="disabled"><i class="material-icons">shopping_cart</i><span>out of stock</span></button>
                        <a href="wishlist.html" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- dos -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" alt="02"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" alt="03" class="second_image img-responsive"/></a>	
                        <ul class="countdown countdown5 text-center">
                  <li><span class="days">00</span><p class="days_text">Days</p></li>
                  <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                  <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                  <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                </ul>
                                                            </div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="">aspetur autodit autfugit</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											</div>
                    </div>
                    <div class="description">
                    Integer erat purus, semper pharetra leo tincidunt, commodo vestibulum nulla. Nam ultricies nisl sed maximus rhoncus. Aliquam et ipsum pulvinar, rutrum erat nec, aliquet nisl.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
     
     <!-- tres -->
     
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" alt="03"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" alt="04" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">magni dolores eosquies</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                <div class="description">
                    Suspendisse eu mi ullamcorper, volutpat leo at, consectetur arcu. Morbi eget tempor sem, sed auctor sem. Nullam sodales scelerisque nisi, eu pellentesque felis euismod malesuada.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
   
   <!-- cuatro -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="04"/>
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="05" class="second_image img-responsive"/>					</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">voluptas nulla pariatur</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Phasellus euismod nulla nulla, sit amet tristique tellus condimentum ut. Aenean posuere lacus eu ultrices lobortis. Duis eget est arcu. Praesent rhoncus efficitur augue nec porttitor.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- cinco -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="05"/>
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="06" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">aliquam quat voluptatem</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Sed nisi elit, gravida eu risus sit amet, hendrerit tristique sapien. Proin consequat augue lectus, eu tempor orci congue quis. Sed dapibus non enim sed tristique. Donec commodo velit at odio gravida.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- seis -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="06"/>
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="07" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">voluptas sit aspernatur</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                        <div class="description">
                    Vestibulum semper tincidunt eros, ut pulvinar felis. Maecenas tincidunt mi et dui dignissim, in feugiat nisl scelerisque. Aenean et nisi turpis. Cras in nisi vitae magna feugiat placerat id sit amet mauris.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- siete -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="07"/>
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="08" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">similique suntin culpaqui</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Phasellus ut felis eu libero semper elementum. Maecenas sit amet scelerisque ante. Nam ultrices enim sed lacus gravida condimentum. Proin at malesuada nibh.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal" disabled="disabled"><i class="material-icons">shopping_cart</i><span>out of stock</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- ocho -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/06.jpg" alt="08"/>
                        <img src="../resources/img/demo/gallery/terrenos/06.jpg" alt="09" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a href="#">suscipit laboriosam nisi</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Duis tincidunt ante urna, sit amet vestibulum felis placerat in. Duis a tortor et odio consequat congue. Mauris euismod augue tempor, sagittis nisl sed, pretium purus.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button>
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

</div>
