     <!-- filtros -->
     <div class="tab-pane fade list text-left" id="list" role="tabpanel">
       <!-- uno -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="product-details.html" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="01"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="02" class="second_image img-responsive"/>											
                    </a>
                    <ul class="countdown countdown4 text-center">
                      <li><span class="days">00</span><p class="days_text">Days</p></li>
                      <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                      <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                      <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                    </ul>
                                                                </div>
                <div class="thumb-description col-xs-12 col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno uno</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>											</div>
                    </div>
                    
                    <div class="description">
                        Hermoso terreno frente a la laguna, excelente para vivir o para poner algún negocio.
                        Mide: 300mts².
                        Documentos: Cuenta con escrituras ✍🏼
                        Beneficios: a pie de laguna, ideal para vacacionar con tu familia. 
                        Ubicación:Dentro de la colonia Fuerza Aérea Mexicana, Acapulco de Juárez, Guerrero. 
                    
                        Para mas información llamar📲 
                        Números telefónicos: 7 4 43 44 68 84 y 74 44 55 80 32.
                    
                    </div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
               
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- dos -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" alt="02"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" alt="03" class="second_image img-responsive"/></a>	
                        <ul class="countdown countdown5 text-center">
                  <li><span class="days">00</span><p class="days_text">Days</p></li>
                  <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                  <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                  <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                </ul>
                                                            </div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno dos</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											</div>
                    </div>
                    <div class="description">
                    Integer erat purus, semper pharetra leo tincidunt, commodo vestibulum nulla. Nam ultricies nisl sed maximus rhoncus. Aliquam et ipsum pulvinar, rutrum erat nec, aliquet nisl.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view2"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
     
     <!-- tres -->
     
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" alt="03"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" alt="04" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno tres</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                <div class="description">
                    Suspendisse eu mi ullamcorper, volutpat leo at, consectetur arcu. Morbi eget tempor sem, sed auctor sem. Nullam sodales scelerisque nisi, eu pellentesque felis euismod malesuada.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view3"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
   
   <!-- cuatro -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="04"/>
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="05" class="second_image img-responsive"/>					</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno cuatro</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Phasellus euismod nulla nulla, sit amet tristique tellus condimentum ut. Aenean posuere lacus eu ultrices lobortis. Duis eget est arcu. Praesent rhoncus efficitur augue nec porttitor.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view4"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- cinco -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="05"/>
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="06" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno cinco</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                    
                    <div class="description">
                        Hermoso terreno cerca de la laguna, excelente para iniciar tu patrimonio. 🏠
                         Mide: 300mts².
                         Documentos: Cuenta con escrituras. ✍🏼
                         Ubicación: Dentro de la colonia Fuerza Aérea Mexicana , Acapulco de Juárez, Guerrero. 
                         📍Ubicación de Google Maps:
                          https://maps.app.goo.gl/rdrmnhcXZUkjk1c47?g_st=iw
                        Para más información llamar: Número telefónico:  7 4 4 3 4 4 6 8 8 4 y 7 4 4 4 5 5 8 0 3 2                
                </div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view5"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- seis -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="06"/>
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="07" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno seis</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                        <div class="description">
                    Vestibulum semper tincidunt eros, ut pulvinar felis. Maecenas tincidunt mi et dui dignissim, in feugiat nisl scelerisque. Aenean et nisi turpis. Cras in nisi vitae magna feugiat placerat id sit amet mauris.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view6"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- siete -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="07"/>
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="08" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno siete</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Phasellus ut felis eu libero semper elementum. Maecenas sit amet scelerisque ante. Nam ultrices enim sed lacus gravida condimentum. Proin at malesuada nibh.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal" disabled="disabled"><i class="material-icons">shopping_cart</i><span>out of stock</span></button> -->
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view7"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- ocho -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/06.jpg" alt="08"/>
                        <img src="../resources/img/demo/gallery/terrenos/06.jpg" alt="09" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno ocho</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description">
                    Duis tincidunt ante urna, sit amet vestibulum felis placerat in. Duis a tortor et odio consequat congue. Mauris euismod augue tempor, sagittis nisl sed, pretium purus.											</div>

                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view8"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

</div>
