     <!-- filtros -->
     <div class="tab-pane fade list text-left" id="list" role="tabpanel">
       <!-- uno -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="product-details.html" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="01"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="02" class="second_image img-responsive"/>											
                    </a>
                    <ul class="countdown countdown4 text-center">
                      <li><span class="days">00</span><p class="days_text">Days</p></li>
                      <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                      <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                      <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                    </ul>
                                                                </div>
                <div class="thumb-description col-xs-12 col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno uno</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>											</div>
                    </div>
                    
                    <div class="description">
                        Hermoso terreno frente a la laguna, excelente para vivir o para poner algún negocio. Mide: 300mts². Documentos: Cuenta con escrituras ✍🏼. Beneficios: a pie de laguna, ideal para vacacionar con tu familia. Ubicación:Dentro de la colonia Fuerza Aérea Mexicana, Acapulco de Juárez, Guerrero. 
                        Para más información llamar📲 
                        Números telefónicos: 7 4 43 44 68 84 y 74 44 55 80 32.
                    
                    </div>

                    <div class="price">
                        <div class="regular-price">$200,000</div>
                        <div class="old-price">$250,000</div>
                    </div>
               
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <a  class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- dos -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/linda_casa.jpg" alt="02"/>
                        <img src="../resources/img/demo/gallery/terrenos/linda_casa_1.jpg" alt="03" class="second_image img-responsive"/></a>	
                        <ul class="countdown countdown5 text-center">
                  <li><span class="days">00</span><p class="days_text">Days</p></li>
                  <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                  <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                  <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                </ul>
                                                            </div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno dos</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											</div>
                    </div>
                    <div class="description">
                        Bonito terreno, listo para que comiences tus sueños de tener una casa a unos escasos minutos de la laguna, todo para tu día de campo.🌴🎣 Mide: 900mts². Cuenta con escrituras. Beneficios: A 2 minuto de la laguna caminando, ideal para realizar deportes acuáticos o pasar un tiempo en familia.🚣‍♀️ Cuenta con infraestructura, pasto y palmeras de cocos 🌴 🥥. Ubicación: Dentro de la Colonia Fuerza Aérea
                        Para más información llamar: Números telefónicos: 744 344 6884 y 744 587 9739                
                </div>

                    <div class="price">
                        <div class="regular-price">$200,000</div>
                        <div class="old-price">$350,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view2"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
     
     <!-- tres -->
     
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/nuevo_parado.jpg" alt="03"/>
                        <img src="../resources/img/demo/gallery/terrenos/nuevo_parado.jpg" alt="04" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno tres</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											   </div>
                    </div>
                <div class="description">
                    Bonito terreno, listo para que comiences tus sueños de tener una casa. Mide: 300mts² Ubicación: Dentro de la Colonia Fuerza Aérea ⚠️Trató directo con los dueños⚠️ Para más información llamar: Números telefónicos: 744 344 6884 y 744 587 9739                
                </div>

                    <div class="price">
                        <div class="regular-price">$600,000</div>
                        <div class="old-price">$650,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view3"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
   
   <!-- cuatro -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="04"/>
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="05" class="second_image img-responsive"/>					</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno cuatro</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											   </div>
                    </div>

                    
                    <div class="description">
                        Divino terreno a pie de laguna, cerca de una villa excelente para vivir. 🛶 🌴. Mide: 600mts². Documentos: Cuenta con escrituras. ✍🏼 Beneficios: A pie de laguna, con malla y casita de madera. 🎣 
                        Ubicación: Dentro de la colonia Fuerza Aérea Mexicana , Acapulco de Juárez, Guerrero.  ⚠️Trato directo con los dueños⚠️
                        Para más información llamar: Número telefónico: 7 4 4 3 4 4 6 8 8 4 y 7 4 4 4 5 5 8 0 3 2  
                     
                
                </div>

                    <div class="price">
                        <div class="regular-price">$70,000</div>
                        <div class="old-price">$150,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view4"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- cinco -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="05"/>
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="06" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno cinco</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											   </div>
                    </div>
                    
                    <div class="description">
                        Hermoso terreno cerca de la laguna, excelente para iniciar tu patrimonio. 🏠 Mide: 300mts². Documentos: Cuenta con escrituras. ✍🏼 Ubicación: Dentro de la colonia Fuerza Aérea Mexicana , Acapulco de Juárez, Guerrero.  📍Ubicación de Google Maps:  https://maps.app.goo.gl/rdrmnhcXZUkjk1c47?g_st=iw Para más información llamar: Número telefónico:  7 4 4 3 4 4 6 8 8 4 y 7 4 4 4 5 5 8 0 3 2                
                </div>

                    <div class="price">
                        <div class="regular-price">$100,000</div>
                        <div class="old-price">$250,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a  class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view5"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- seis -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="06"/>
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="07" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno seis</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											   </div>
                    </div>
                        <div class="description">
                            Terreno a metros de la carretera principal Acapulco-Zihuatanejo 🛣️ a 5 min de la escuela primaria Ricardo Flores Magón🏫 y Tortillería. Mide: 205 mts². Documentos: Escrituras ✍🏼.📍Ubicación: Justamente en el centro de San Isidro "Ampliación San Isidro". Calle: 5 de febrero, esquina con calle tuba. ⚠️Trato directo con los dueños⚠️. Para más información llamar: Número: 7 4 4 4 5 5 8 0 3 2
                
                </div>

                    <div class="price">
                        <div class="regular-price">$100,000</div>
                        <div class="old-price">$150,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span></button> -->
                        <a  class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view6"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- siete -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="07"/>
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="08" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno siete</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											   </div>
                    </div>
                    
                    <div class="description">

                        Bonita casa con locales comerciales listos para comenzar tu negocio. Mide: 328 mts². Ubicación: Colonia Emiliano Zapata, Ometepec, Guerrero. Medidas de la construcción: Ancho 8 mts², Largo 10 mts². Altura 5.70 mts² Planta baja: 2 locales comerciales de 4×5 (por la parte de enfrente) 2 cuartos de 4×3.50 (por la parte de atras) con 2 baños en el patio. 1 pozo artesano. Planta alta 2 Cuartos de 4×5 Terraza de 10×5  1 baño en la terraza. Para más información llamar: Número telefónico: 7 4 4 3 4 4 6 8 8 4
                
                </div>

                    <div class="price">
                        <div class="regular-price">$300,000</div>
                        <div class="old-price">$450,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <!-- <button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop" data-toggle="modal" disabled="disabled"><i class="material-icons">shopping_cart</i><span>out of stock</span></button> -->
                        <a class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <!-- <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button> -->
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view7"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- ocho -->
        <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/nuevo_parado1.jpg" alt="08"/>
                        <img src="../resources/img/demo/gallery/terrenos/nuevo_parado1.jpg" alt="09" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12  col-sm-7 col-md-8 position-static text-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno ocho</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons ">star</i></span>											   </div>
                    </div>
                    
                    <div class="description">

                        Bonita casa con locales comerciales listos para comenzar tu negocio. Mide: 328 mts². Ubicación: Colonia Emiliano Zapata, Ometepec, Guerrero. Medidas de la construcción: Ancho 8 mts², Largo 10 mts². Altura 5.70 mts² Planta baja: 2 locales comerciales de 4×5 (por la parte de enfrente) 2 cuartos de 4×3.50 (por la parte de atras) con 2 baños en el patio. 1 pozo artesano. Planta alta 2 Cuartos de 4×5 Terraza de 10×5  1 baño en la terraza. Para más información llamar: Número telefónico: 7 4 4 3 4 4 6 8 8 4
                
                </div>

                    <div class="price">
                        <div class="regular-price">$150,000</div>
                        <div class="old-price">$200,000</div>
                    </div>
                    <div class="button-wrapper">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view8"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

</div>
