    <!-- filtro2 -->
    <div class="tab-pane fade sort text-left" id="sort-view" role="tabpanel">
       
       <!-- uno -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="01"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" alt="02" class="second_image img-responsive"/>											
                    </a>
                    
                                                                </div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno uno</a></h4>
                    </div>
                    
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											</div>
                    </div>
                    <div class="description mb-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus arcu turpis, quis sagittis orci dictum non. Etiam id eleifend erat. Donec sit amet nisl id nisi laoreet viverra in ac nibh.											</div>
                  
                </div>
            <div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- dos -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" alt="02"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" alt="03" class="second_image img-responsive"/></a>	
                        
                                                            </div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno dos</a></h4>
                    </div>
                    <div class="rating mb-10">
                    <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											</div>
                    </div>
                    <div class="description mb-10">
                    Integer erat purus, semper pharetra leo tincidunt, commodo vestibulum nulla. Nam ultricies nisl sed maximus rhoncus. Aliquam et ipsum pulvinar, rutrum erat nec, aliquet nisl.											</div>
                    </div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                        </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view2"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- tres -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" alt="03"/>
                        <img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" alt="04" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno tres</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                <div class="description mb-10">
                    Suspendisse eu mi ullamcorper, volutpat leo at, consectetur arcu. Morbi eget tempor sem, sed auctor sem. Nullam sodales scelerisque nisi, eu pellentesque felis euismod malesuada.											</div>
</div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view3"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- cuatro -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="04"/>
                        <img src="../resources/img/demo/gallery/terrenos/01.jpeg" alt="05" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno cuatro</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description mb-10">
                    Phasellus euismod nulla nulla, sit amet tristique tellus condimentum ut. Aenean posuere lacus eu ultrices lobortis. Duis eget est arcu. Praesent rhoncus efficitur augue nec porttitor.											</div>
</div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view4"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
     
     <!-- cinco -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="05"/>
                        <img src="../resources/img/demo/gallery/terrenos/02.jpeg" alt="06" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno cinco</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description mb-10">
                    Sed nisi elit, gravida eu risus sit amet, hendrerit tristique sapien. Proin consequat augue lectus, eu tempor orci congue quis. Sed dapibus non enim sed tristique. Donec commodo velit at odio gravida.											</div>
</div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view5"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- seis -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="06"/>
                        <img src="../resources/img/demo/gallery/terrenos/03.jpeg" alt="07" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                            <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno seis</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                        <div class="description mb-10">
                    Vestibulum semper tincidunt eros, ut pulvinar felis. Maecenas tincidunt mi et dui dignissim, in feugiat nisl scelerisque. Aenean et nisi turpis. Cras in nisi vitae magna feugiat placerat id sit amet mauris.											</div>
                    </div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view6"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       <!-- siete -->
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="07"/>
                        <img src="../resources/img/demo/gallery/terrenos/04.jpeg" alt="08" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                    <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno siete</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description mb-10">
                    Phasellus ut felis eu libero semper elementum. Maecenas sit amet scelerisque ante. Nam ultrices enim sed lacus gravida condimentum. Proin at malesuada nibh.											</div>
</div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view7"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
   
        <!-- ocho -->
    
        <div class="product-layouts">
            <div class="product-thumb row">
                <div class="image zoom col-xs-12 col-sm-3 col-md-2">
                    <a href="#" class="d-block position-relative">
                        <img src="../resources/img/demo/gallery/terrenos/06.jpg" alt="08"/>
                        <img src="../resources/img/demo/gallery/terrenos/06.jpg" alt="09" class="second_image img-responsive"/>											</a>										</div>
                <div class="thumb-description col-xs-12 col-sm-9 col-md-10 position-static text-left">
                <div class="sort-title col-md-5 col-sm-7 float-left">
                    <div class="caption">
                        <h4 class="product-title text-capitalize"><a>Terreno ocho</a></h4>
                    </div>
                    <div class="rating mb-10">
                        <div class="product-ratings d-inline-block align-middle">
                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                       <span class="fa fa-stack"><i class="material-icons">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                      <span class="fa fa-stack"><i class="material-icons off">star</i></span>											   </div>
                    </div>
                                                                <div class="description mb-10">
                    Duis tincidunt ante urna, sit amet vestibulum felis placerat in. Duis a tortor et odio consequat congue. Mauris euismod augue tempor, sagittis nisl sed, pretium purus.											</div>
                    </div>
<div class="price-main col-md-3 col-sm-5 float-left text-center text-sm-center text-xs-left">
                    <div class="price">
                        <div class="regular-price">$100.00</div>
                        <div class="old-price">$150.00</div>
                    </div>
                    </div>
                    <div class="button-wrapper col-md-4 col-sm-5 float-left text-center text-md-center text-sm-center text-xs-left">
<div class="button-group text-center">
                        <a href="#" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                        <button type="button" class="btn btn-primary btn-quickview"  data-toggle="modal" data-target="#product_view8"><i class="material-icons">visibility</i><span>Quick View</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

</div>
