<div class="modal fade product_view" id="product_view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 left-columm">
                            <div class="product-large-image tab-content">
                            <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                <div class="single-img img-full">
                                    <a href=""><img src="" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                <div class="single-img">
                                    <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                <div class="single-img">
                                    <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                <div class="single-img">
                                    <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                <div class="single-img">
                                    <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                    </div>


                    <div class="small-image-list float-left w-100"> 
                                    <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 product_content">
                        <h4 class="product-title text-capitalize">Terreno uno</h4>
                        <div class="rating">
                        <div class="product-ratings d-inline-block align-middle">
                                                                                    <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                        <span class="description float-left w-100">Hermoso terreno frente a la laguna, excelente para vivir o para poner algún negocio.
                            Mide: 300mts².
                            Documentos: Cuenta con escrituras ✍🏼
                            Beneficios: a pie de laguna, ideal para vacacionar con tu familia. 
                            Ubicación:Dentro de la colonia Fuerza Aérea Mexicana, Acapulco de Juárez, Guerrero. 
                        
                            Para mas información llamar📲 
                            Números telefónicos: 7 4 43 44 68 84 y 74 44 55 80 32.</span>
                        <h3 class="price float-left w-100"><span class="regular-price align-middle">$200,000</span><span class="old-price align-middle">$250,000</span></h3>
                        
                        <div class="product-variants float-left w-100">
                           
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!-- dos -->
    <div class="modal fade product_view" id="product_view2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 left-columm">
                                <div class="product-large-image tab-content">
                                <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                    <div class="single-img img-full">
                                        <a href=""><img src="" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                    <div class="single-img">
                                        <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                    <div class="single-img">
                                        <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                    <div class="single-img">
                                        <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                    <div class="single-img">
                                        <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                        </div>
    
    
                        <div class="small-image-list float-left w-100"> 
                                        <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-6 product_content">
                            <h4 class="product-title text-capitalize">Terreno dos</h4>
                            <div class="rating">
                            <div class="product-ratings d-inline-block align-middle">
                                                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                            <span class="description float-left w-100">TERRENO DOS INFO.</span>
                            <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                            
                            <div class="product-variants float-left w-100">
                               
                              
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
        <!-- tres -->
        <div class="modal fade product_view" id="product_view3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 left-columm">
                                    <div class="product-large-image tab-content">
                                    <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                        <div class="single-img img-full">
                                            <a href=""><img src="" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                        <div class="single-img">
                                            <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                        <div class="single-img">
                                            <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                        <div class="single-img">
                                            <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                        <div class="single-img">
                                            <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                            </div>
        
        
                            <div class="small-image-list float-left w-100"> 
                                            <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                                <div class="single-small-image img-full">
                                                    <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                                </div>
                                                <div class="single-small-image img-full">
                                                    <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                                </div>
                                                <div class="single-small-image img-full">
                                                    <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                                </div>
                                                <div class="single-small-image img-full">
                                                    <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                                </div>
                                                <div class="single-small-image img-full">
                                                    <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="col-md-6 product_content">
                                <h4 class="product-title text-capitalize">Terreno tres</h4>
                                <div class="rating">
                                <div class="product-ratings d-inline-block align-middle">
                                                                                            <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                   <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                   <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                   <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                   <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                                <span class="description float-left w-100">terreno 3 info</span>
                                <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                                
                                <div class="product-variants float-left w-100">
                                   
                                  
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
    <!-- cuatro -->

    <div class="modal fade product_view" id="product_view4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 left-columm">
                                <div class="product-large-image tab-content">
                                <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                    <div class="single-img img-full">
                                        <a href=""><img src="" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                    <div class="single-img">
                                        <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                    <div class="single-img">
                                        <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                    <div class="single-img">
                                        <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                    <div class="single-img">
                                        <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                        </div>
    
    
                        <div class="small-image-list float-left w-100"> 
                                        <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/01.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/01_2.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/01_1.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/01_3.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/01_4.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-6 product_content">
                            <h4 class="product-title text-capitalize">Terreno cuatro</h4>
                            <div class="rating">
                            <div class="product-ratings d-inline-block align-middle">
                                                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                            <span class="description float-left w-100">Terreno 4 info</span>
                            <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                            
                            <div class="product-variants float-left w-100">
                               
                              
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
        
    <!-- cinco -->

    <div class="modal fade product_view" id="product_view5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 left-columm">
                                <div class="product-large-image tab-content">
                                <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                    <div class="single-img img-full">
                                        <a href=""><img src="" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                    <div class="single-img">
                                        <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                    <div class="single-img">
                                        <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                    <div class="single-img">
                                        <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                    <div class="single-img">
                                        <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                        </div>
    
    
                        <div class="small-image-list float-left w-100"> 
                                        <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/02.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/02_2.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/02_1.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/02_3.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/02_1.jpeg" class="img-fluid" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-6 product_content">
                            <h4 class="product-title text-capitalize">Terreno cinco</h4>
                            <div class="rating">
                            <div class="product-ratings d-inline-block align-middle">
                                                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>		
                                            
                                            </div>						
                                            	</div>

                            <span class="description float-left w-100">Hermoso terreno cerca de la laguna, excelente para iniciar tu patrimonio. 🏠
                                Mide: 300mts².
                                Documentos: Cuenta con escrituras. ✍🏼
                                Ubicación: Dentro de la colonia Fuerza Aérea Mexicana , Acapulco de Juárez, Guerrero. 
                                📍Ubicación de Google Maps:
                                https://maps.app.goo.gl/rdrmnhcXZUkjk1c47?g_st=iw
                                         
                                Para más información llamar: Número telefónico:  7 4 4 3 4 4 6 8 8 4 y 7 4 4 4 5 5 8 0 3 2

                            </span>
                            <h3 class="price float-left w-100"><span class="regular-price align-middle">$100,000</span><span class="old-price align-middle">$250,000</span></h3>
                            
                            <div class="product-variants float-left w-100">
                               
                              
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
  
        
<!-- seis -->

<div class="modal fade product_view" id="product_view6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 left-columm">
                            <div class="product-large-image tab-content">
                            <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                <div class="single-img img-full">
                                    <a href=""><img src="" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                <div class="single-img">
                                    <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                <div class="single-img">
                                    <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                <div class="single-img">
                                    <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                <div class="single-img">
                                    <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                    </div>


                    <div class="small-image-list float-left w-100"> 
                                    <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/03.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/03_2.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/03_1.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/03_3.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/03_1.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 product_content">
                        <h4 class="product-title text-capitalize">Terreno seis</h4>
                        <div class="rating">
                        <div class="product-ratings d-inline-block align-middle">
                                                                                    <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                        <span class="description float-left w-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                        
                        <div class="product-variants float-left w-100">
                           
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- ocho -->

<div class="modal fade product_view" id="product_view7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 left-columm">
                            <div class="product-large-image tab-content">
                            <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                <div class="single-img img-full">
                                    <a href=""><img src="" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                <div class="single-img">
                                    <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                <div class="single-img">
                                    <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                <div class="single-img">
                                    <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                <div class="single-img">
                                    <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                    </div>


                    <div class="small-image-list float-left w-100"> 
                                    <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/04_5.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/04_2.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/04_1.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/04_3.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                        <div class="single-small-image img-full">
                                            <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/04_4.jpeg" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 product_content">
                        <h4 class="product-title text-capitalize">Terreno siete</h4>
                        <div class="rating">
                        <div class="product-ratings d-inline-block align-middle">
                                                                                    <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                           <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                        <span class="description float-left w-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                        
                        <div class="product-variants float-left w-100">
                           
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade product_view" id="product_view8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title w-100w-100w-100 font-weight-bold d-none">Quick view</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 left-columm">
                                <div class="product-large-image tab-content">
                                <div class="tab-pane active" id="product-1" role="tabpanel" aria-labelledby="product-tab-1">
                                    <div class="single-img img-full">
                                        <a href=""><img src="" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-2" role="tabpanel" aria-labelledby="product-tab-2">
                                    <div class="single-img">
                                        <a href="img/products/02.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-3" role="tabpanel" aria-labelledby="product-tab-3">
                                    <div class="single-img">
                                        <a href="img/products/03.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-4" role="tabpanel" aria-labelledby="product-tab-4">
                                    <div class="single-img">
                                        <a href="img/products/04.jpg"><img src="../resources/img/demo/gallery/terrenos/terreno1_2.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="product-5" role="tabpanel" aria-labelledby="product-tab-5">
                                    <div class="single-img">
                                        <a href="img/products/05.jpg"><img src="img/products/05.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                        </div>
    
    
                        <div class="small-image-list float-left w-100"> 
                                        <div class="nav-add small-image-slider-single-product-tabstyle-3 owl-carousel" role="tablist">
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-1" href="#product-1" class="img active"><img src="../resources/img/demo/gallery/terrenos/06_1.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-2" href="#product-2" class="img"><img src="../resources/img/demo/gallery/terrenos/06_2.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-3" href="#product-3" class="img"><img src="../resources/img/demo/gallery/terrenos/06_3.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-4" href="#product-4" class="img"><img src="../resources/img/demo/gallery/terrenos/06_4.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="product-tab-5" href="#product-5" class="img"><img src="../resources/img/demo/gallery/terrenos/06_5.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-6 product_content">
                            <h4 class="product-title text-capitalize">Terreno ocho</h4>
                            <div class="rating">
                            <div class="product-ratings d-inline-block align-middle">
                                                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                               <span class="fa fa-stack"><i class="material-icons">star</i></span>			</div>							</div>
                            <span class="description float-left w-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                            <h3 class="price float-left w-100"><span class="regular-price align-middle">$75.00</span><span class="old-price align-middle">$60.00</span></h3>
                            
                            <div class="product-variants float-left w-100">
                               
                              
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    