<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <link rel="stylesheet" href="../resources/css/500.css">

</head>
<body>
    <div class="container">
        <img src="../resources/img/500.png" />
  
        <h1>
          <span>500</span> <br />
          Error interno del servidor
        </h1>
        <p>Estamos trabajando para solucionarlo</p>
      
      </div>
</body>
</html>