<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img terrenos</title>
</head>
<body>
    <img src="../resources/img/bot/baldio 2.jpg" alt="Baldio2">
    <img src="../resources/img/bot/baldio.jpg" alt="Baldio">
    <img src="../resources/img/bot/calle 2.jpg" alt="calle2">
    <img src="../resources/img/bot/calle 3.jpg" alt="calle3">
    <img src="../resources/img/bot/calle 4.jpg" alt="calle4">
    <img src="../resources/img/bot/calle 5.jpg" alt="calle5">
    <img src="../resources/img/bot/calle 6.jpg" alt="calle6">
    <img src="../resources/img/bot/calle.jpg" alt="calle">
    <img src="../resources/img/bot/construccion 2.jpg" alt="construccion2">
    <img src="../resources/img/bot/construccion.jpg" alt="construccion">
    <img src="../resources/img/bot/laguna.jpg" alt="laguna">
    <img src="../resources/img/bot/mar.jpg" alt="mar">
</body>
</html>