<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="../resources/css/boostrap.css">
    <link rel="stylesheet" href="../resources/css/fonts.css">
    <link rel="stylesheet" href="../resources/css/css.css" id="main-styles-link">

    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>

    <div class="page">
      <header class="section novi-background page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up="true" data-lg-stick-up-offset="118px" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-stick-up="true" data-xl-stick-up-offset="118px" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-stick-up-offset="118px" data-xxl-stick-up="true">
            
            <div class="rd-navbar-aside-outer">
                <div class="rd-navbar-aside">
                  <!-- RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                   <a class="rd-navbar-brand" href="/"><img src="../resources/img/logo_vista.png" alt="" width="110" height="0"/></a>
                  </div>
                  <div class="rd-navbar-collapse">
                    <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle="#rd-navbar-collapse-content-1"><span></span></button>
                    <div class="rd-navbar-collapse-content" id="rd-navbar-collapse-content-1">
                      <article class="unit align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-phone"></span></div>
                        <div class="unit-body">
                          <ul class="list-0">
                            <li><a class="link-default" href="tel:7441318629">744-1318-29</a></li>
                          </ul>
                        </div>
                      </article>
                      <article class="unit align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-map-marker"></span></div>
                        <div class="unit-body"><a class="link-default" href="tel:#">Acapulco <br></a></div>
                      </article><a class="button button-gray-bordered button-winona" href="/login">Iniciar Sesión</a>
                    </div>
                  </div>
                </div>
              </div>


            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/services">Home</a>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/nosotros">Nosotros</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/servicesterrenos">Terrenos</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contactanos">Contactanos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs -->
      <section class="section novi-background breadcrumbs-custom bg-image context-dark text-dark" style="background-image: url(../resources/img/demo/land-plot-with-nature-landscape-location-pin.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container text-dark">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated ">Acerca de</h6>
              <h2 class="text-uppercase breadcrumbs-custom-title text-dark">Nosotros</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/"></a></li>
              <li class="active"></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Working at CaseCraft-->
      <section class="section novi-background section-lg">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h3 class="text-uppercase">BASILISK</h3>
              <p class="about-subtitle">Nosotros somos una empresa encargada de asesorar  al área de Pie de la cuesta, Fuerza área Mexicana.</p>
              <p>Basilisk es tu mejor opción porque asesoramos y vendemos inmuebles con profesionalidad, trasparencia y responsabilidad, otra característica nuestra es que
                 trabajamos de forma personalizada, somos una empresa 100% legal, Empeñados en la mejora, actualmente hemos logrado hacer el sueño de patrimonio de manera formal de 780 familias.
                 En Basilisk, manejamos una amplia gama de inmuebles para satisfacer las diversas necesidades de nuestros clientes. Esto incluye propiedades a orilla de carretera o terrenos cerca del mar o laguna.


                 Estamos comprometidos con la mejora continua y la legalidad en todas nuestras operaciones. Nuestro objetivo es no solo vender inmuebles, sino también construir comunidades y hacer una diferencia positiva en las áreas que servimos.
            </p><a class="button button-lg button-primary button-winona" href="about-us.html">View properties</a>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-6"><img class="img-responsive" src="../resources/img/demo/nosotros.jpg" alt="" width="570" height="388"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Advantages and Achievements-->
      <section class="section novi-background section-md text-center bg-gray-100">
        <div class="container">
          <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">¿Por qué las personas nos eligen?</span></h3>
          <p class="wow-outer"><span class="text-width-1 wow slideInDown">Nuestro equipo en Basilisk cuenta con años de experiencia en el sector inmobiliario. Nuestros asesores están altamente capacitados y tienen un profundo conocimiento del mercado local. Esto nos permite proporcionar a nuestros clientes el mejor asesoramiento y servicio posible.”</span></p>
          <div class="row row-50">
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-users2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">12</div>
                </div>
                <h5 class="counter-minimal-title">Oficinas al rededor de México</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-home-icon3"></div>
                <div class="counter-minimal-main">
                  <div class="counter">780</div>
                </div>
                <h5 class="counter-minimal-title">Terrenos pactados</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-star"></div>
                <div class="counter-minimal-main">
                  <div class="counter">10</div>
                </div>
                <h5 class="counter-minimal-title">Años de experencia</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-apartment"></div>
                <div class="counter-minimal-main">
                  <div class="counter">50</div>
                </div>
                <h5 class="counter-minimal-title">Tenemos más de 50 Procesos de escrituración</h5>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section novi-background section-lg text-center">
        <div class="container">
          <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Nuestro equipo</span></h3>
          <div class="row row-50 row-xxl-70 justify-content-center justify-content-lg-start">
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="../resources/img/demo/nino.png" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">Israel Nogueda Pineda</a></h5>
                  <p class="profile-creative-position">Representante Legal</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">744-1318-29</a></div>
                  </div>
                  <p>El ingeniero Israel Nogueda Pineda es el represéntate legal de la empresa en Acapulco de Juárez de la colonia Fuerza Área Mexicana.</p>
                </div>
              </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="../resources/img/demo/nino.png" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">Elias Flores Olea</a></h5>
                  <p class="profile-creative-position">representante comunitario</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">744-1318-29</a></div>
                  </div>
                  <p>El señor Elias Flores Olea lleva una trayectoria de más de 20 años en la cual busca que la colonia fuerza área sea una colonia con mejoras continuas a través de trámites legales.</p>
                </div>
              </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="../resources/img/demo/nino.png" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">Samora Flores Marco Vinicio</a></h5>
                  <p class="profile-creative-position">Representante</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">744-1318-29</a></div>
                  </div>
                  <p>El señor Samora Flores es parte fundamental de la empresa, él realiza diversas funciones en la empresa y realiza intermedaciones.</p>
                </div>
              </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
             
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- <a class="banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank"><img src="images/intense_big_02.jpg" alt=""/></a> -->
           
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
   <script src="../resources/scripts/core.min.js"></script>
    <script src="../resources/scripts/script.js"></script>
  </body>
</html>