.modal-wrapper {
  display: none; /* Oculta el modal por defecto */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: flex-start; /* Alinea el contenido arriba */
  overflow: auto;
  z-index: 1100; /* Ajustado el z-index para que esté por encima del menú */

}

.modal-header {
  padding: 0px;
  margin: 0;
  font-size: 10px;
  

}

.modal-dialog {
  width: auto;
  max-width: 40%; /* Reducido el max-width a 40% */
  background-color: #ffffff; /* Ajusta el color de fondo según lo necesites */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para un efecto de profundidad */
  margin: 0px; /* Espacio alrededor del modal */
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto; /* Add this line */
}

.modal-content iframe {
  width: 100%; /* Ancho al 100% del contenedor */
  border: none;
  overflow: hidden; /* Remove !important and change to overflow: hidden */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 767.98px) {
  .modal-dialog {
    max-width: 80%; /* Ajusta el max-width para pantallas más pequeñas */
    margin: 10px; /* Reducido el margin para pantallas más pequeñas */
  }

  .modal-content iframe {
    height: 30vh; /* Reducido el height del iframe para pantallas más pequeñas */
  }

  /* Resto del CSS para pantallas más pequeñas ... */
}

/* Ajustes para pantallas aún más pequeñas */
@media (max-width: 400px) {
  .modal-dialog {
    max-width: 90%; /* Ajusta el max-width para pantallas aún más pequeñas */
    margin: 5px; /* Reducido el margin para pantallas aún más pequeñas */
  }

  .modal-content iframe {
    height: 25vh; /* Reducido el height del iframe para pantallas aún más pequeñas */
  }

  /* Resto del CSS para pantallas aún más pequeñas ... */
}

/* Resto del CSS ... */

.btn__floating {
  position: fixed; /* Cambia a fixed */
  bottom: 20px; /* Posición inicial */
  right: 15px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: bottom 0.3s; /* Transición suave */
}


.btn__floating ul {
  list-style: none;
  padding: 0;
}

.btn__floating ul li:nth-child(1) a i{
  background-color: #7a058e;
}

.btn__floating ul li:nth-child(2) a i{
  background-color: #009e20;
}

.btn__floating ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14pt;
}

.btn__floating ul li a i {
 width: 40px;
 height: 40px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}


  
.modal-wrapper {
  transition: opacity 0.3s, visibility 0.3s; /* Transiciones suaves */
  opacity: 0;
  visibility: hidden;
}

.modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
