.modal-wrapper {
  display: none; 
  position: fixed;
  top: 20%;  /* Cambiado de 0 a 10% */
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start; 
  overflow: auto;
  z-index: 1100; 
}

.modal-header {
  padding: 0px;
  margin: 0;
  font-size: 8px;
}

.modal-dialog {
  width: auto;
  max-width: 30%; 
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  margin: 10px; 
}


.modal-content {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto; 
}





/* Resto del CSS ... */

.btn__floating {
  position: fixed; /* Cambia a fixed */
  bottom: 20px; /* Posición inicial */
  right: 15px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: bottom 0.3s; /* Transición suave */
}


.btn__floating ul {
  list-style: none;
  padding: 0;
}

.btn__floating ul li:nth-child(1) a i{
  background-color: #0d6efd  ;
}

.btn__floating ul li:nth-child(2) a i{
  background-color: #0d6efd;
}

.btn__floating ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20pt;
}

.btn__floating ul li a i {
 width: 50px;
 height: 50px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}


  
.modal-wrapper {
  transition: opacity 0.3s, visibility 0.3s; /* Transiciones suaves */
  opacity: 0;
  visibility: hidden;
}

.modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}


/* MEDIA QUERYS */
/* Media query para pantallas más pequeñas */
/* @media (max-width: 767.98px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-wrapper {
    position: fixed;
    top: 59%; 
    left: 0;
    width: 100%;
    height: auto; 
  
    z-index: 1100;
  }

  .modal-dialog {
    width: 90%;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    background-color: #ffffff;
  }

  .modal-content {
    height: auto;
  }

  .modal-content iframe {
    width: 100%;
    height: 70vh;
  }
} */

/* Media query para iPads y pantallas más grandes */
/* @media (min-width: 768px) and (max-width: 1024px) {
  .modal-wrapper {
    position: fixed;
    top: 59%; 
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1100;
  }
  
  .modal-dialog {
    width: 70%;
    max-width: 80%;
  }

  .modal-content iframe {
    height: 50vh;
  }
} */


/* Ajustes para pantallas aún más pequeñas */
@media (max-width: 400px) {
  .modal-dialog {
    width: 95%;
    max-width: 95%;
  }

  .modal-content iframe {
    height: 40vh;
  }
}
